<h2><%= @dog.name %></h2>
<ul>
<h1> Owner(s)</h1>
<% @dog.employees.each do |employee| %>
   <li><%= employee.first_name %></li>
<% end %>
<h1> Breed </h1>
<li> <%=@dog.breed%> </li>
<h1> Age </h1>
<li> <%=@dog.age%> </li>
</ul>
